:root {
    /*Dracula theme*/

    --text-0: 255, 121, 198;
    --text-1: 248, 248, 242;
    --text-1-shadow: 248, 248, 242;
    --text-2: 80, 250, 123;
    --text-2-shadow: 80, 250, 123;

    --bg-0: 40, 42, 54;
    --bg-1: 68, 71, 90;
    --bg-2: 98, 114, 164;


    /*  Theme (Mocha Flavor) */

    --text-0: 245, 194, 231;
    --text-1: 205, 214, 244;
    --text-1-shadow: 205, 214, 244;
    --text-2: 166, 227, 161;
    --text-2-shadow: 166, 227, 161;

    --bg-0: 30, 30, 46;
    --bg-1: 48, 52, 70;
    --bg-2: 69, 71, 90;


    /* Iceberg Theme */

    --text-0: 247, 142, 68;
    --text-1: 225, 233, 244;
    --text-1-shadow: 225, 233, 244;
    --text-2: 102, 156, 237;
    --text-2-shadow: 102, 156, 237;

    --bg-0: 23, 42, 69;
    --bg-1: 38, 61, 89;
    --bg-2: 46, 76, 109;


    /* Gruvbox Theme */
    --text-0: 251, 73, 52;
    --text-1: 235, 219, 178;
    --text-1-shadow: 235, 219, 178;
    --text-2: 184, 187, 38;
    --text-2-shadow: 184, 187, 38;

    --bg-0: 40, 40, 40;
    --bg-1: 60, 56, 54;
    --bg-2: 50, 48, 47;

    /* Green theme */
    --text-0: 188, 108, 37;
    --text-1: 254, 250, 224;
    --text-1-shadow: 254, 250, 224;
    --text-2: 221, 161, 94;
    --text-2-shadow: 221, 161, 94;

    --bg-0: 40, 54, 24;
    --bg-1: 96, 108, 56;
    --bg-2: 85, 57, 34;

    /* Everforest Theme*/
    --text-0: 137, 180, 169;
    --text-1: 236, 239, 244;
    --text-1-shadow: 236, 239, 244;
    --text-2: 250, 208, 83;
    --text-2-shadow: 250, 208, 83;

    --bg-0: 32, 47, 48;
    --bg-1: 46, 63, 64;
    --bg-2: 59, 77, 79;

}