:root {
    /*Dracula theme*/

    --text-0: 255, 121, 198;
    --text-1: 248, 248, 242;
    --text-1-shadow: 248, 248, 242;
    --text-2: 80, 250, 123;
    --text-2-shadow: 80, 250, 123;

    --bg-0: 40, 42, 54;
    --bg-1: 68, 71, 90;
    --bg-2: 98, 114, 164;


    /* Catppuccin Theme (Mocha Flavor) */

    --text-0: 245, 194, 231;
    --text-1: 205, 214, 244;
    --text-1-shadow: 205, 214, 244;
    --text-2: 166, 227, 161;
    --text-2-shadow: 166, 227, 161;

    --bg-0: 30, 30, 46;
    --bg-1: 48, 52, 70;
    --bg-2: 69, 71, 90;


    /* Iceberg Theme */

    --text-0: 247, 142, 68;
    --text-1: 225, 233, 244;
    --text-1-shadow: 225, 233, 244;
    --text-2: 102, 156, 237;
    --text-2-shadow: 102, 156, 237;

    --bg-0: 23, 42, 69;
    --bg-1: 38, 61, 89;
    --bg-2: 46, 76, 109;




}